body {
    font-family: "Times New Roman", serif;
}

.kotak {
    width: 750px;
    margin: 30px auto;
    border-collapse: collapse;
    border: 2px solid black;
}

.judul {
    font-size: 20px;
    padding: 10px;
    border-bottom: 2px solid black;
    text-align: center;
}

.input, .output {
    width: 50%;
    padding: 20px;
    border: 1px solid black;
    vertical-align: top;
}

input {
    width: 180px;
    padding: 4px;
}

button {
    padding: 5px 10px;
}
